<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Food Order</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="login-box">

    <h1>Update Food Order</h1>

    <form method="POST">

        <input type="number"
               name="order_id"
               placeholder="Order ID"
               required>

        <input type="text"
               name="order_status"
               placeholder="New Status (Pending / Delivered)"
               required>

        <button type="submit">
            Update Order
        </button>

    </form>

</div>

</body>
</html>